# Load Zephyr Arch Kconfig descriptions.
osource "/home/jaagup/projects/gale/zephyr/arch/x86/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/xtensa/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/sparc/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/riscv/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/posix/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/nios2/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/mips/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/arm64/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/arm/Kconfig"
osource "/home/jaagup/projects/gale/zephyr/arch/arc/Kconfig"
